@import "tailwindcss";

.text-input{
    @apply w-100 h-10 rounded-lg px-3 border border-gray-400;
}

/* This hides scrollbars but keeps scrolling enabled */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}